* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    
}

.home-title {
    text-align: center;
    font-size: 50px;
    color: rgb(129, 72, 82);
    background-color: pink;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 20px;
}

.recipe {
    text-align: center;
    margin: 10px;
}

.recipe .button {
    display: inline-block;
    background-color: #e67e22;
    padding: 20px;
    margin: 0px 4px;
    text-align: center;
    font-weight: bold;
}
.recipe .button:hover {
    background-color: #884a14;
}

.recipe-title {
    text-align: center;
    font-size: 80px;
    margin: 0px;
    padding: 20px;
    
}
#chocolate-pudding {
    background-color: #9a5c4d;
}
#grilled-cheese {
    background-color: #ffb314;
}
#pancakes {
    background-color: #de9c72;
}


.recipe-image {
    display: block;
    margin: 10px auto 30px;
    
    max-height: 500px;
}

h3 {
    margin: 10px;
    font-size: 40px;
}
.text {
    margin-left: 10px;
    font-size: 20px;
}
.text-block{
    margin-bottom: 40px;
}